<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.spring.qna.dao.vo.User" alias="user" />
		<typeAlias type="com.spring.qna.dao.vo.Qna" alias="qna" />
		<typeAlias type="com.spring.qna.dao.vo.Comment" alias="cmt" />
		<typeAlias type="java.util.HashMap" alias="hmap" />
	</typeAliases>
</configuration>