<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8" />
	<title th:text = "${title}">Error</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<script th:src="@{/js/jquery-3.5.0.js}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navigation">
		<a class="navbar-brand" href="#">QnA</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/main?p=1&t=car&k=&st=}">자동차</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/main?p=1&t=fridge&k=&st=}">냉장고</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/main?p=1&t=laundry&k=&st=}">세탁기</a></li>
			</ul>
			<ul class="navbar-nav navbar-right">
				<li class="nav-item" th:if="${session.loginUser != null}">
					<a class="nav-link" style="color: #fff; font-weight: 700; padding-right: 1.2rem;" th:text="${session.loginUser.get('FULLNAME') + '님 환영합니다!'}"></a>
				</li>
				<li class="nav-item" th:if="${session.loginUser != null}">
					<a class="btn btn-outline-light" th:href="@{/logout}">로그아웃</a>
				</li>
				<li class="nav-item" th:if="${session.loginUser == null}">
					<a class="nav-link" th:href="@{/login}">로그인</a>
				</li>
				<li class="nav-item" th:if="${session.loginUser == null}">
					<a class="nav-link" th:href="@{/register}">회원가입</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<ul class="list-group list-group-flush" th:fragment="side-nav" th:if="${session.loginUser != null}">
		<li class="list-group-item"><a th:href="@{/mypage(p=1, k='')}">내 질문들</a></li>
		<li class="list-group-item"><a th:href="@{/create}">질문작성</a></li>
		<li class="list-group-item" th:if="${#strings.equals(session.loginUser.get('ROLE'), 'Admin')}"><a th:href="@{/admin/main}">관리자 페이지</a></li>
	</ul>
</body>
</html>